
<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Bostonography</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>'>
<link rel="stylesheet" href="https://unpkg.com/leaflet-easybutton@2.0.0/src/easy-button.css">
<script src="https://unpkg.com/leaflet-easybutton@2.0.0/src/easy-button.js"></script>
<script src="https://use.fontawesome.com/e3a4d2eb18.js"></script>
<link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />
<link rel="points" type="application/json" href=".Bostonography/features.geojson">
<link rel="stylesheet" href="dist/leaflet.awesome-markers.css">
<script src="dist/leaflet.awesome-markers.js"></script>
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>


<div id='map'></div>

<script type="text/javascript">

L.mapbox.accessToken = 'pk.eyJ1IjoiYnJlZWR5MjMxIiwiYSI6ImNpdzlrd2JzaTAzc2kzMm1zaWF6bHFscmgifQ.iXjpeP1D5FQewmUcAoSbRw';

// Add tiles from Mapbox Style API (https://www.mapbox.com/developers/api/styles/)
// Tiles are 512x512 pixels and are offset by 1 zoom level
var mainLayer = L.tileLayer(
    'https://api.mapbox.com/styles/v1/breedy231/ciwhz308m009m2qmtlr7s1ymn/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYnJlZWR5MjMxIiwiYSI6ImNpdzlrd2JzaTAzc2kzMm1zaWF6bHFscmgifQ.iXjpeP1D5FQewmUcAoSbRw', {
        
        attribution: '© <a href="https://www.mapbox.com/map-feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        maxZoom: 15
    });

var aMarker = L.AwesomeMarkers.icon({
  prefix: 'fa',
  icon: 'thumbs-up',
  markerColor: 'green'
});

var aLayer = omnivore.csv('/static/only_a.csv').on('ready', function(layer) {
  this.eachLayer(function (marker) {
    var popup = "<dl>" + "<dt> NAME: </dt>" + "<dd>" + marker.toGeoJSON().properties.Name + "</dd> " + "ADDRESS: " + marker.toGeoJSON().properties.Address + "\n" + "GRADES: " + marker.toGeoJSON().properties.Grades +"\n "+ "TIPS: " + marker.toGeoJSON().properties.Tips + "\n" + "SENTIMENT: " + marker.toGeoJSON().properties.Sentiment;
    marker.setIcon(aMarker);
    marker.bindPopup(popup);
  });
});
var bLayer = omnivore.csv('/static/only_b.csv').on('ready', function(layer) {
  this.eachLayer(function (marker) {
    var popup = "NAME: " + marker.toGeoJSON().properties.Name + "\n " + "ADDRESS: " + marker.toGeoJSON().properties.Address + "\n" + "GRADES: " + marker.toGeoJSON().properties.Grades +"\n "+ "TIPS: " + marker.toGeoJSON().properties.Tips + "\n" + "SENTIMENT: " + marker.toGeoJSON().properties.Sentiment;
    marker.setIcon(L.mapbox.marker.icon({
      'marker-color': '#ffff00'
    }));
    marker.bindPopup(popup);
  });
});
var cLayer = omnivore.csv('/static/only_c.csv').on('ready', function(layer) {
  this.eachLayer(function (marker) {
    var popup = "NAME: " + marker.toGeoJSON().properties.Name + "\n " + "ADDRESS: " + marker.toGeoJSON().properties.Address + "\n" + "GRADES: " + marker.toGeoJSON().properties.Grades +"\n "+ "TIPS: " + marker.toGeoJSON().properties.Tips + "\n" + "SENTIMENT: " + marker.toGeoJSON().properties.Sentiment;
    marker.setIcon(L.mapbox.marker.icon({
      'marker-color': '#ff0000'
    }));
    marker.bindPopup(popup);
  });
});
var abLayer = omnivore.csv('/static/only_a_b.csv').on('ready', function(layer) {
  this.eachLayer(function (marker) {
    var popup = "NAME: " + marker.toGeoJSON().properties.Name + "\n " + "ADDRESS: " + marker.toGeoJSON().properties.Address + "\n" + "GRADES: " + marker.toGeoJSON().properties.Grades +"\n "+ "TIPS: " + marker.toGeoJSON().properties.Tips + "\n" + "SENTIMENT: " + marker.toGeoJSON().properties.Sentiment;
    marker.setIcon(L.mapbox.marker.icon({
      'marker-color': '#bbff00'
    }));
    marker.bindPopup(popup);
  });
});
var acLayer = omnivore.csv('/static/only_a_c.csv').on('ready', function(layer) {
  this.eachLayer(function (marker) {
    var popup = "NAME: " + marker.toGeoJSON().properties.Name + "\n " + "ADDRESS: " + marker.toGeoJSON().properties.Address + "\n" + "GRADES: " + marker.toGeoJSON().properties.Grades +"\n "+ "TIPS: " + marker.toGeoJSON().properties.Tips + "\n" + "SENTIMENT: " + marker.toGeoJSON().properties.Sentiment;
    marker.setIcon(L.mapbox.marker.icon({
      'marker-color': '#ffaa00'
    }));
    marker.bindPopup(popup);
  });
});
var abcLayer = omnivore.csv('/static/only_a_b_c.csv').on('ready', function(layer) {
  this.eachLayer(function (marker) {
    var popup = "NAME: " + marker.toGeoJSON().properties.Name + "\n " + "ADDRESS: " + marker.toGeoJSON().properties.Address + "\n" + "GRADES: " + marker.toGeoJSON().properties.Grades +"\n "+ "TIPS: " + marker.toGeoJSON().properties.Tips + "\n" + "SENTIMENT: " + marker.toGeoJSON().properties.Sentiment;
    marker.setIcon(L.mapbox.marker.icon({
      'marker-color': '#bb00ff'
    }));
    marker.bindPopup(popup);
  });
});


var map = L.map('map', {
  center: [42.343981, -71.070028],
  zoom: 12.65,
  layers: [mainLayer]
});

var baseMaps = {
  "Main": mainLayer
};

var overlayMaps = {
  "A": aLayer,
  "B": bLayer,
  "C": cLayer,
  "A,B": abLayer,
  "A,C": acLayer,
  "A,B,C": abcLayer
};

L.control.layers(baseMaps, overlayMaps).addTo(map);




</script>




</body>
</html>
