<!doctype html>
<title>Bostonography</title>
<link rel=stylesheet type=text/css href='/static/css/style.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-easybutton@2.0.0/src/easy-button.css">
<script src="https://unpkg.com/leaflet-easybutton@2.0.0/src/easy-button.js"></script>
<script src="https://use.fontawesome.com/e3a4d2eb18.js"></script>
<link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />
<link rel="stylesheet" href="/static/css/leaflet.awesome-markers.css">
<script src="/static/js/leaflet.awesome-markers.js"></script>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css" rel="stylesheet" integrity="sha384-C0X5qw1DlkeV0RDunhmi4cUBUkPDTvUqzElcNWm1NI2T4k8tKMZ+wRPQOhZfSJ9N" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/css/bootstrap-social.css">
<style>
  h1 { font-family: 'Roboto', sans-serif; }
  #page { font-family: 'Roboto', sans-serif; margin: 1em auto; width: 35em; border: 2px solid #ccc;
                  padding: 0.5em; background: white;  }
  #map { position:absolute; top:5%; bottom:0; width:100%; height:500px; }
  #entry { position:absolute; top:66%; bottom:0; width: 100%; font-family: 'Roboto', sans-serif;}
  #git { position: absolute; top:120%; width:15%; }
</style>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Bostonography</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/brendan">Brendan<span class="sr-only">(current)</span></a></li>
        <li><a href="/doug">Doug</a></li>
        <li><a href="/alejandro">Alejandro</a></li>
      </ul>
    </div>
  </div>
</nav>

  <div class='span12' id='map'></div>


<div id='entry'>
  <h1> Boston: Good Eats </h1>
  <h2> Alejandro Serrano, Doug Mawrey, Brendan Reed</h2>
  <p> Every city has a food culture. New York, London, Paris, Rome and cities around the world are blazing trails in terms of a vibrant food culture that drives the social life of their cities. People go out ot eat with their friends, get a sense of the restaurants they do and don't like, and more often than not post that information on some form of social media. These people also expect to be eating in an establishment that has high quality food saftey and cleanliness standards, often regulated by the city it's located in. Restaurants in a city can be spread out and varied, with certain spots in the city having a vibrant food scene all within a couple blocks, while other sections of the city are certain food deserts. The same can be said of the price of restaurants in a city, with certain parts of the city being clustered with expensive places to eat while other sections of the city offer cheaper faire. <br>

  Where does Boston fit into all of this? How is Boston growing in terms of its food culture, what does it have to offer, and how is the public receiving it? These are some of the questions we attempted to ask in this project for our Bostonography class at Northeastern University. Getting data from The Boston Globe on the restaurant health grades issued by the city of Boston, we attempted to answer a few questions. 
  </p>
  <ul>
    <li> Does the sentiment of what people post on social media corrleate in any way with a restaurant's health grade? If a restaurant has a bad grade, does that necessarily imply a bad experience? Or, conversely, does a good grade imply a good experience?
    </li>
    <li> Is there any relation between the average menu price of a restaurant to its health grade? Are the more expensive restaurants guarenteed a good rating, or is there no corrleation at all between these two?</li>
    <li> If a restaurant is in a certain location in the city does that affect its health grade? By being closer to City Hall, does that mean a restaurant is guarenteed to be cleaner?</li>
  </ul>

  <p> These are the questions we hoped to answer in our analysis, on the following pages corresponding to our names. We hope that this website will answer some questions that residents in Boston may have been having about their culinary experience, and illustrate what is happening in the city today. We would appreciate any and all input based on our project <br>

  <h2> The Technical Side
  </h2>
  The backend of the website was built on the Flask framework, which utilizes Python as its base language. The front-end was built using HTML5, CSS, and Javascript, utilizing the Bootstrap framework for styling. The interactive map was built using Leaflet.js with a custom Mapbox style, along with custom markers from Leaflet-Awesome-Markers and icons from Font-Awesome. This can all be played around with in the map, which can toggle the restaurants shown based on grade by clicking the top right button on the map. All of this code is on my Github at breedy231 for you to view. </p>
</div>
<a id ='git' class="btn btn-block btn-social btn-github" href="https://github.com/breedy231/Bostonography">
    <span class="fa fa-github"></span> breedy231 on Github 
</a>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

L.mapbox.accessToken = 'pk.eyJ1IjoiYnJlZWR5MjMxIiwiYSI6ImNpdzlrd2JzaTAzc2kzMm1zaWF6bHFscmgifQ.iXjpeP1D5FQewmUcAoSbRw';

// Add tiles from Mapbox Style API (https://www.mapbox.com/developers/api/styles/)
// Tiles are 512x512 pixels and are offset by 1 zoom level
var mainLayer = L.tileLayer(
    'https://api.mapbox.com/styles/v1/breedy231/ciwhz308m009m2qmtlr7s1ymn/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYnJlZWR5MjMxIiwiYSI6ImNpdzlrd2JzaTAzc2kzMm1zaWF6bHFscmgifQ.iXjpeP1D5FQewmUcAoSbRw', {
        
        attribution: '© <a href="https://www.mapbox.com/map-feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        maxZoom: 18
    });

var aMarker = L.AwesomeMarkers.icon({
  prefix: 'fa',
  icon: 'smile-o',
  markerColor: 'green'
});

var bMarker = L.AwesomeMarkers.icon({
  prefix: 'fa',
  icon: 'frown-o',
  markerColor: 'red'
});

var cMarker = L.AwesomeMarkers.icon({
  prefix: 'fa',
  icon: 'meh-o',
  markerColor: 'orange'
});

var coffeeMarker = L.AwesomeMarkers.icon({
  prefix: 'fa',
  icon: 'coffee',
  markerColor: 'purple'
})

var pizzaMarker = L.AwesomeMarkers.icon({
  prefix: 'ion',
  icon: 'pizza',
  markerColor: 'blue'
})


var aLayer = omnivore.csv('/static/csv_files/only_a.csv').on('ready', function(layer) {
  this.eachLayer(function (marker) {
    var popup = "<dl>" + "<dt> NAME: </dt>" + "<dd>" + marker.toGeoJSON().properties.Name + "</dd> " + "<dt> ADDRESS: </dt> " + "<dd>" + marker.toGeoJSON().properties.Address + "</dd>" + "<dt> GRADES: </dt> " + "<dd>" + marker.toGeoJSON().properties.Grades +"</dd> "+ "<dt> TIPS: </dt> " + "<dd>" + marker.toGeoJSON().properties.Tips + "</dd>" + "<dt> SENTIMENT </dt>: " + "<dd>" +  marker.toGeoJSON().properties.Sentiment + "</dd></dl>";
    if (marker.toGeoJSON().properties.Name.localeCompare('Dunkin Donuts') == 0) {
      marker.setIcon(coffeeMarker)
    } else if (marker.toGeoJSON().properties.Name.localeCompare("Domino's Pizza") == 0) {
      marker.setIcon(pizzaMarker)
    } else if (marker.toGeoJSON().properties.Sentiment == 0) {
      marker.setIcon(cMarker)
    } else if (marker.toGeoJSON().properties.Sentiment < 0.1) {
      marker.setIcon(bMarker)
    } else {
      marker.setIcon(aMarker)
    }
    marker.bindPopup(popup);
  });
});
var bLayer = omnivore.csv('/static/csv_files/only_b.csv').on('ready', function(layer) {
  this.eachLayer(function (marker) {
    var popup = "<dl>" + "<dt> NAME: </dt>" + "<dd>" + marker.toGeoJSON().properties.Name + "</dd> " + "<dt> ADDRESS: </dt> " + "<dd>" + marker.toGeoJSON().properties.Address + "</dd>" + "<dt> GRADES: </dt> " + "<dd>" + marker.toGeoJSON().properties.Grades +"</dd> "+ "<dt> TIPS: </dt> " + "<dd>" + marker.toGeoJSON().properties.Tips + "</dd>" + "<dt> SENTIMENT </dt>: " + "<dd>" +  marker.toGeoJSON().properties.Sentiment + "</dd></dl>";
    if (marker.toGeoJSON().properties.Name.localeCompare('Dunkin Donuts') == 0) {
      marker.setIcon(coffeeMarker)
    } else if (marker.toGeoJSON().properties.Name.localeCompare("Domino's Pizza") == 0) {
      marker.setIcon(pizzaMarker)
    } else if (marker.toGeoJSON().properties.Sentiment == 0) {
      marker.setIcon(cMarker)
    } else if (marker.toGeoJSON().properties.Sentiment < 0.1) {
      marker.setIcon(bMarker)
    } else {
      marker.setIcon(aMarker)
    }
    marker.bindPopup(popup);
  });
});
var cLayer = omnivore.csv('/static/csv_files/only_c.csv').on('ready', function(layer) {
  this.eachLayer(function (marker) {
    var popup = "<dl>" + "<dt> NAME: </dt>" + "<dd>" + marker.toGeoJSON().properties.Name + "</dd> " + "<dt> ADDRESS: </dt> " + "<dd>" + marker.toGeoJSON().properties.Address + "</dd>" + "<dt> GRADES: </dt> " + "<dd>" + marker.toGeoJSON().properties.Grades +"</dd> "+ "<dt> TIPS: </dt> " + "<dd>" + marker.toGeoJSON().properties.Tips + "</dd>" + "<dt> SENTIMENT </dt>: " + "<dd>" +  marker.toGeoJSON().properties.Sentiment + "</dd></dl>";
    if (marker.toGeoJSON().properties.Name.localeCompare('Dunkin Donuts') == 0) {
      marker.setIcon(coffeeMarker)
    } else if (marker.toGeoJSON().properties.Name.localeCompare("Domino's Pizza") == 0) {
      marker.setIcon(pizzaMarker)
    } else if (marker.toGeoJSON().properties.Sentiment == 0) {
      marker.setIcon(cMarker)
    } else if (marker.toGeoJSON().properties.Sentiment < 0.1) {
      marker.setIcon(bMarker)
    } else {
      marker.setIcon(aMarker)
    }
    marker.bindPopup(popup);
  });
});
var abLayer = omnivore.csv('/static/csv_files/only_a_b.csv').on('ready', function(layer) {
  this.eachLayer(function (marker) {
    var popup = "<dl>" + "<dt> NAME: </dt>" + "<dd>" + marker.toGeoJSON().properties.Name + "</dd> " + "<dt> ADDRESS: </dt> " + "<dd>" + marker.toGeoJSON().properties.Address + "</dd>" + "<dt> GRADES: </dt> " + "<dd>" + marker.toGeoJSON().properties.Grades +"</dd> "+ "<dt> TIPS: </dt> " + "<dd>" + marker.toGeoJSON().properties.Tips + "</dd>" + "<dt> SENTIMENT </dt>: " + "<dd>" +  marker.toGeoJSON().properties.Sentiment + "</dd></dl>";
    if (marker.toGeoJSON().properties.Name.localeCompare('Dunkin Donuts') == 0) {
      marker.setIcon(coffeeMarker)
    } else if (marker.toGeoJSON().properties.Name.localeCompare("Domino's Pizza") == 0) {
      marker.setIcon(pizzaMarker)
    } else if (marker.toGeoJSON().properties.Sentiment == 0) {
      marker.setIcon(cMarker)
    } else if (marker.toGeoJSON().properties.Sentiment < 0.1) {
      marker.setIcon(bMarker)
    } else {
      marker.setIcon(aMarker)
    }
    marker.bindPopup(popup);
  });
});
var acLayer = omnivore.csv('/static/csv_files/only_a_c.csv').on('ready', function(layer) {
  this.eachLayer(function (marker) {
    var popup = "<dl>" + "<dt> NAME: </dt>" + "<dd>" + marker.toGeoJSON().properties.Name + "</dd> " + "<dt> ADDRESS: </dt> " + "<dd>" + marker.toGeoJSON().properties.Address + "</dd>" + "<dt> GRADES: </dt> " + "<dd>" + marker.toGeoJSON().properties.Grades +"</dd> "+ "<dt> TIPS: </dt> " + "<dd>" + marker.toGeoJSON().properties.Tips + "</dd>" + "<dt> SENTIMENT </dt>: " + "<dd>" +  marker.toGeoJSON().properties.Sentiment + "</dd></dl>";
    if (marker.toGeoJSON().properties.Name.localeCompare('Dunkin Donuts') == 0) {
      marker.setIcon(coffeeMarker)
    } else if (marker.toGeoJSON().properties.Name.localeCompare("Domino's Pizza") == 0) {
      marker.setIcon(pizzaMarker)
    } else if (marker.toGeoJSON().properties.Sentiment == 0) {
      marker.setIcon(cMarker)
    } else if (marker.toGeoJSON().properties.Sentiment < 0.1) {
      marker.setIcon(bMarker)
    } else {
      marker.setIcon(aMarker)
    }
    marker.bindPopup(popup);
  });
});
var abcLayer = omnivore.csv('/static/csv_files/all3.csv').on('ready', function(layer) {
  this.eachLayer(function (marker) {
    var popup = "<dl>" + "<dt> NAME: </dt>" + "<dd>" + marker.toGeoJSON().properties.Name + "</dd> " + "<dt> ADDRESS: </dt> " + "<dd>" + marker.toGeoJSON().properties.Address + "</dd>" + "<dt> GRADES: </dt> " + "<dd>" + marker.toGeoJSON().properties.Grades +"</dd> "+ "<dt> TIPS: </dt> " + "<dd>" + marker.toGeoJSON().properties.Tips + "</dd>" + "<dt> SENTIMENT </dt>: " + "<dd>" +  marker.toGeoJSON().properties.Sentiment + "</dd></dl>";
    if (marker.toGeoJSON().properties.Name.localeCompare('Dunkin Donuts') == 0) {
      marker.setIcon(coffeeMarker)
    } else if (marker.toGeoJSON().properties.Name.localeCompare("Domino's Pizza") == 0) {
      marker.setIcon(pizzaMarker)
    } else if (marker.toGeoJSON().properties.Sentiment == 0) {
      marker.setIcon(cMarker)
    } else if (marker.toGeoJSON().properties.Sentiment < 0.1) {
      marker.setIcon(bMarker)
    } else {
      marker.setIcon(aMarker)
    }
    marker.bindPopup(popup);
  });
});


var map = L.map('map', {
  center: [42.343981, -71.070028],
  zoom: 12.65,
  layers: [mainLayer]
});

var baseMaps = {
  "Main": mainLayer
};

var overlayMaps = {
  "Grade A": aLayer,
  "Grade B": bLayer,
  "Grade C": cLayer,
  "Grade B -> A": abLayer,
  "Grade C -> A": acLayer,
  "Grade C -> B -> A": abcLayer
};

L.control.layers(baseMaps, overlayMaps).addTo(map);




</script>

